* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  scroll-behavior: smooth; /* Thêm hiệu ứng cuộn mượt mà */
}

/* ================================ RESET THUỘC TÍNH ====================================== */
/* body {
  margin: 0;
} */
body,
ul,
li,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* ================================ CODE CHUNG ========================================= */

.main-content {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.logo,
.catogory,
.filter-box,
.product-card,
.page,
.product-detail .info-detail button,
.thumnailList img {
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 20px;
}

/* ================================ HEADER ============================================= */
.py-3 {
  padding-bottom: 1rem !important;
}
.header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 37.9875px;
  padding-right: 37.9875px;
  background-color: #d10000;
  height: 150px;
  width: 100%;
}
.header .navbar img {
  height: 80px;
  width: 200px;
}
/* Căn giữa form trên trang */
form.d-flex {
  width: 700px;
  margin-right: 10px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 999px;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 999px 0 0 999px;
  padding: 10px 15px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.search-box input:focus {
  outline: none;
}
.search-box button {
  border-radius: 0 999px 999px 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #fafafa;
}
/* Hiệu ứng hover cho nút */
.search-box button:hover {
  background-color: #d3d4d5;
  border-color: #c6c7c8;
}
/* Tùy chỉnh biểu tượng bên trong nút */
.search-box button i {
  font-size: 18px;
  color: #000;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-outline-light {
  color: white !important;
  height: 61px;
  min-width: 50px;
  margin-right: 10px;
  border-radius: 10px !important;
  border: solid 1px white !important;
  overflow: hidden;
}
.btn-outline-light:hover {
  color: red !important;
  background-color: white !important;
}
.btn {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
}

.navbar-dark,
.navbar {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.55%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
  );
}
/* ========================================= MAIN ====================================== */

.body-main .main-content .hover-branch-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.hover-branch-list ul .brand-link {
  min-width: 96px;
  width: 10%;
  text-align: center;
  border: 1px solid #d10000;
  border-radius: 999px;
  padding: 10px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  background-color: #d10000;
}

.hover-branch-list ul .brand-link {
  margin-right: 10px;
}

.hover-branch-list ul .brand-link:hover {
  background-color: rgb(255, 255, 255);
  color: #ff0000;
}

.hover-branch-list ul .brand-link:active {
  background-color: #da0000;
  color: #fff;
}

.body-main .main-content .filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0px;
}

.body-main .filter .filter-box {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #000000;
  border-radius: 999px;
  text-align: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.body-main .filter .filter-box:hover {
  background-color: rgb(255, 255, 255);
  color: #ff0000;
  border-color: red;
}

.body-main .filter .filter-box.sort:active {
  background-color: #da0000;
  color: #fff;
}

.body-main .main-content .filter-synthetic {
  position: relative;
}

.body-main .main-content .filter-synthetic:hover form {
  display: block;
}

.filter .filter-synthetic form {
  position: absolute;
  left: 0;
  top: 103%;
  z-index: 10;
  width: 600%;
  background-color: #f3f3f3;
  border-radius: 10px;
  display: none;
}

.filter .filter-synthetic form input {
  width: 100%;
  border: none;
  border-radius: 999px;
  padding: 3px;
  background-color: rgb(255, 56, 56);
  color: #fff;
}

.filter .filter-synthetic .options-filter {
  color: black;
  padding: 5px;
}

.filter .filter-synthetic .options-filter h4 {
  text-align: left;
  margin: 5px 0 3px 10px;
}

.filter .filter-synthetic .options-filter .value-select {
  display: flex;
  flex-wrap: wrap;
}

.filter .filter-synthetic .options-filter span {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 2px 3px 0px;
}

.filter .filter-synthetic .options-filter span:hover {
  color: red;
  border-color: red;
}

.filter .filter-synthetic .options-filter .value-select span.active {
  border: 1px solid red;
  background-color: rgb(255, 56, 56);
  color: #fff;
}

/*=========================== range price ======================= */

.filter .filter-about {
  position: relative;
}

.filter .filter-about:hover .slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  padding: 5px;
  background-color: #f3f3f3;
  border-radius: 999px;
  width: 150%;
  position: absolute;
  z-index: 2;
  top: 103%;
  left: 0px;
  display: none;
  color: black;
}

#rangeSlider {
  width: 100%;
}

#sliderValue {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-30%);
  font-size: 10px;
  opacity: 0.8; /* Đặt độ mờ mặc định cho giá trị */
  transition: opacity 0.2s ease;
}

/* Tùy chỉnh thanh (track) */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 999px;
  outline: none;
}

/* Tùy chỉnh nút kéo (thumb) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ff0000;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter .filter-about button {
  font-size: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: red;
  border: 1px solid red;
  border-radius: 999px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter .filter-about .slider-container button[type="submit"]:hover {
  background-color: rgb(253, 90, 90);
}

.body-main .product-display {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.body-main .product-display .list-product {
  width: 100%;
  background-color: #f3f3f3;
  padding: 3px;
  margin: 0 auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.product-display .list-product .product-card {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.product-display .list-product .product-card:hover img {
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.product-display .list-product .product-card img {
  width: 250px;
  height: 300px;
  padding: 5px;
  margin: 0 auto;
}

.list-product .product-card h4 {
  margin-bottom: 10px;
  min-height: 40px;
}

.list-product .product-card .price {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.list-product .product-card .storage-capacity {
  margin-bottom: 5px;
}

.list-product .product-card span {
  color: #444444;
}

.list-product .product-card .storage-capacity span {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-right: 3px;
}

.list-product .product-card .promotion {
  background-color: #e6e6e6;
  color: #444444;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 3px;
}

/* ====================================== CHI TIẾT SẢN PHẨM ====================  */

.product-detail {
  margin-top: 20px;
}

.product-detail .box-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.product-detail .box-detail .img-transfer {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 2px;
  width: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

/* .product-detail .img-transfer .img-detail {
  overflow: hidden; */
/* } */

.product-detail .img-transfer .main-img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #444;
  text-align: center;
  /* position: relative;
  overflow: hidden; */
}

.product-detail .img-transfer .main-img img {
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease; /*Hiệu ứng trượt và biến mất*/
}

.product-detail .img-transfer .thumnailList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 5px;
}

.product-detail .img-transfer .thumnailList img {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
}

.fade-out {
  /* transform: translateX(-100%); Trượt ra ngoài bên trái */
  opacity: 0; /* Biến mất */
}

.product-detail .box-detail .info-detail {
  width: 35%;
}

.product-detail .box-detail .info-detail h3 {
  font-size: 40px;
  font-weight: 800;
  width: 100%;
  margin-bottom: 10px;
}

.product-detail .box-detail .info-detail .price {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-detail .box-detail .info-detail .brand {
  font-size: 12px;
}

.product-detail .info-detail .brand span {
  color: red;
}

.product-detail .box-detail .info-detail .desc {
  font-size: 12px;
}

.product-detail .box-detail .info-detail button {
  width: 40%;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background: linear-gradient(
    315deg,
    rgb(250, 130, 130) 0%,
    rgb(253, 90, 90) 50%
  );
  color: white;
}

.product-detail .box-detail .info-detail button:hover {
  background: linear-gradient(
    45deg,
    rgb(253, 99, 99) 20%,
    rgb(255, 55, 55) 40%
  );
  border: 1px solid red;
}

.product-detail .specifications {
  display: flex;
  gap: 10px;
  margin: 30px 0px;
}

.product-detail .specifications div {
  border-radius: 10px;
  padding: 5px;
  width: 33.33%;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 5px #cecece;
}

.product-detail .specifications h4 {
  border: 1px solid black;
  border-radius: 999px;
  padding: 2px 5px;
  display: inline-block;
}

.product-detail .specifications p {
  font-size: 14px;
  line-height: 20px;
}

.product-detail .specifications p span {
  color: #444444;
}

/* ====================================== PHÂN TRANG =========================== */

.product-display .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 10px;
}

.product-display .pagination button {
  margin: 5px;
}

.product-display .pagination .btn-page {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(237, 67, 67);
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-display .pagination .btn-page:hover {
  background-color: rgb(237, 67, 67);
  color: #fff;
  border: none;
}

.product-display .pagination .btn-page.active {
  background-color: rgb(237, 67, 67);
  color: #fff;
  width: 28px;
  height: 28px;
}

.product-display .pagination .page-change {
  color: #fff;
  border-radius: 999px;
  background-color: rgb(253, 83, 83);
}

/* ====================================== FOOTER =============================== */

footer {
  background-color: #e5e5e5;
  color: #333;
  padding: 20px 0;
  position: relative;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-section {
  flex: 1;
  margin: 0 15px;
}
.footer-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-section p,
.footer-section li {
  font-size: 14px;
  margin-bottom: 8px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  cursor: pointer;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #e5e5e5;
  font-size: 14px;
}
.footer-bottom span {
  color: red;
  font-weight: bold;
}

/* Scroll to Top Button */
#scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #d10000;
  color: white;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
#scrollToTop:hover {
  background-color: #d10000;
}

/* =================================== RESPONSIVE ======================================= */
@media (max-width: 1024px) {
  /* -------------------------- header -------------------------- */
  .header .navbar form {
    height: 40px;
  }
  .header .navbar form button {
    height: 100%;
  }
  /* ----------------------------- hiện thị danh sách sản phẩm ------------------------- */
  .body-main .product-display .list-product {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-display .list-product .product-card img {
    width: 250px;
    height: 250px;
  }
  .list-product .product-card .storage-capacity span {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    margin-right: 0px;
  }
  /* ------------------------------- chi tiết sản phẩm ---------------------------- */
  .product-detail .box-detail .img-transfer {
    width: 60%;
  }
  .product-detail .box-detail .info-detail {
    width: 30%;
  }
  .product-detail .box-detail .info-detail h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .product-detail .box-detail .info-detail .price {
    font-size: 16px;
  }
  .product-detail .box-detail .info-detail button {
    width: 100%;
    margin: 2px;
  }
  .product-detail .specifications {
    gap: 6px;
  }
  .product-detail .specifications h4 {
    font-size: 14px;
  }
  .product-detail .specifications p {
    line-height: 16px;
  }
}
@media (max-width: 900px) {
  /* -------------------------- header -------------------------- */
  .header .navbar .btn-outline-light {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  .header .navbar .btn-outline-light span {
    display: none;
  }
  /* ----------------------------- lọc ------------------------------------------------- */
  .body-main .filter .filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .body-main .filter .filter-box i {
    margin-right: 3px;
  }
  .hover-branch-list li,
  .body-main .filter .filter-box i,
  .body-main .filter .filter-box span {
    font-size: 14px;
  }
  /* ----------------------------- hiện thị danh sách sản phẩm ------------------------- */
  .body-main .product-display .list-product {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .product-display .list-product .product-card img {
    width: 220px;
    height: 250px;
  }
  .list-product .product-card .storage-capacity span {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    margin-right: 0px;
  }
  /* ------------------------------- chi tiết sản phẩm ---------------------------- */
  .product-detail .box-detail .img-transfer {
    width: 60%;
  }
  .product-detail .box-detail .info-detail {
    width: 30%;
  }
  .product-detail .box-detail .info-detail h3 {
    font-size: 22px;
    font-weight: 600;
  }
  .product-detail .box-detail .info-detail .price {
    font-size: 15px;
  }
  .product-detail .box-detail .info-detail button {
    width: 100%;
    height: 25px;
    margin: 2px;
  }
  .product-detail .specifications {
    gap: 5px;
  }
  .product-detail .specifications h4 {
    font-size: 13px;
  }
  .product-detail .specifications p {
    line-height: 15px;
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  /* ----------------------------- range slide ------------------------------- */
  .filter .filter-about .slider-container input[type="submit"] {
    font-size: 10px;
    padding: 2px;
  }

  /* ----------------------------- lọc ------------------------------------------------- */
  .body-main .filter .filter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .body-main .filter .filter-box i {
    margin-right: 2px;
  }
  .hover-branch-list li,
  .body-main .filter .filter-box i,
  .body-main .filter .filter-box span {
    font-size: 10px;
  }
  /* ----------------------------- hiện thị danh sách sản phẩm ------------------------- */
  .body-main .product-display .list-product {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .product-display .list-product .product-card img {
    width: 100px;
    height: 200px;
  }
  .product-display .list-product .product-card h4 {
    font-size: 14px;
  }
  .product-display .list-product .product-card .price {
    font-size: 12px;
  }
  .list-product .product-card span {
    font-size: 12px;
  }
  .list-product .product-card .promotion {
    font-size: 12px;
  }
  /* -------------------------------- phân trang ------------------------------------------ */
  .product-display .pagination .btn-page {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  .product-display .pagination .btn-page.active {
    width: 23px;
    height: 23px;
  }
  /* ------------------------------- chi tiết sản phẩm ---------------------------- */
  .product-detail .box-detail {
    display: block;
  }
  .product-detail .box-detail .img-transfer {
    width: 100%;
  }
  .product-detail .img-transfer .thumnailList img {
    width: 50px;
    height: 50px;
  }
  .product-detail .box-detail .info-detail {
    width: 100%;
    margin-top: 15px;
  }
  .product-detail .box-detail .info-detail h3 {
    font-size: 22px;
    font-weight: 600;
  }
  .product-detail .box-detail .info-detail .price {
    font-size: 15px;
  }
  .product-detail .box-detail .info-detail button {
    width: 48%;
  }
  .product-detail .specifications {
    display: block;
  }
  .product-detail .specifications div {
    width: 100%;
  }
  .product-detail .specifications h4 {
    font-size: 12px;
  }
  .product-detail .specifications p {
    line-height: 15px;
    font-size: 12px;
  }
}

/* ================================Alert======================================== */
.custom-alert {
  visibility: hidden; /* Ẩn phần tử nhưng vẫn giữ vị trí */
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 163, 0);
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 9999;
  text-align: center;
  max-width: 300px;
}

.close-alert {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}

.custom-alert p {
  margin: 0;
  font-size: 15px;
  font-weight: 200px;
}

.custom-alert.show {
  visibility: visible; /* Hiển thị phần tử */
  opacity: 1; /* Hiển thị với hiệu ứng mờ dần */
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px); /* Bắt đầu từ dưới */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); /* Kết thúc ở vị trí chính giữa */
  }
}
