* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ================================ RESET THUỘC TÍNH ====================================== */
body {
  margin: 0;
}
ul,
li,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* ================================ CODE CHUNG ========================================= */

.main-content {
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.logo,
.catogory,
.filter-box,
.product-card,
.page {
  cursor: pointer;
}

/* ================================ HEADER ============================================= */
.header {
  background: rgba(209, 0, 0, 1);
  padding: 5px 0;
}

.header .main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 219.46px;
  height: 53.36px;
}

.header .logo img {
  width: 100%;
  height: 100%;
}

.header .main-content .catogory {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(212, 102, 102, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
}

.header .main-content .catogory:hover {
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25); */
  background: rgba(181, 89, 89, 1);
}

.header .main-content .catogory-product {
  width: 144px;
  height: 50.34px;
  position: relative;
}

.header .main-content .catogory-history {
  width: 140px;
  height: 50.34px;
}

.header .main-content .catogory-cart {
  width: 90px;
  height: 50.34px;
}

.header .main-content .catogory-user {
  width: 54px;
  height: 50.34px;
}

.header .catogory i {
  margin-right: 5px;
}

.header .search-box input {
  background: transparent;
  border: none;
}

.header .catogory .text-catogory {
  font-size: 16px;
  /* font-weight: 600; */
  /* list-style: 1; */
}

.header .search-box input:focus {
  outline: none;
}

.header .search-box {
  background: rgba(255, 255, 255, 1);
  width: 300px;
  height: 35px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

/* ======================================== CODE PHẦN HOVER ==================================== */
.header .catogory-product .buffer:empty {
  background: rgba(209, 0, 0, 1);
  height: 5px;
}

.header .catogory-product .hover-branch-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  background: rgba(211, 211, 211, 1);
  border-radius: 0 0 10px 10px;
}

.header .hover-branch-list li {
  text-align: center;
}

.header .hover-branch-list li + li {
  margin-top: 5px;
}

.header .catogory-product:hover .hover-branch-list {
  display: block;
}

/* ========================================= MAIN ====================================== */
.body-main .main-content .filter {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  /* border: 1px solid black; */
}

.body-main .filter .filter-box {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  text-align: center;
  background: rgba(221, 221, 221, 1);
}

.body-main .product-display {
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 5px;
  padding: 5px;
}

.body-main .product-display .list-product {
  width: 100%;
  background-color: #f3f3f3;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.product-display .list-product .product-card {
  /* border: 1px solid blue; */
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.product-display .list-product .product-card:hover img {
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}

.product-display .list-product .product-card img {
  width: 280px;
  height: 280px;
  padding: 5px;
  margin: 0 auto;
}

.list-product .product-card h4 {
  margin-bottom: 10px;
  height: 30px;
}

.list-product .product-card .price {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.list-product .product-card .storage-capacity {
  margin-bottom: 5px;
}

.list-product .product-card span {
  color: #444444;
}

.list-product .product-card .storage-capacity span {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-right: 3px;
}

.list-product .product-card .promotion {
  background-color: #e6e6e6;
  color: #444444;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 3px;
}

.list-product .product-card .rating-favorite {
  display: flex;
  justify-content: space-between;
}

.list-product .product-card .rating-favorite .rating {
  display: flex;
}

.list-product .product-card .rating-favorite .fa-solid {
  color: rgb(235, 219, 0);
}

.list-product .product-card .rating-favorite .fa-heart {
  color: red;
}

/* .body-main .product-display .container-page-bar {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-display .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.product-display .pagination .page {
  background: rgba(217, 217, 217, 1);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-display .pagination .active {
  width: 25px;
  height: 25px;
  background: rgb(194, 194, 194);
} */

/* ====================================== CHI TIẾT SẢN PHẨM ====================  */

.product-detail .box-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail .box-detail .img-transfer {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 2px;
  width: 60%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

.product-detail .box-detail .rating-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin: 2px 5px;
}

.product-detail .box-detail .rating-favorite .rating {
  display: flex;
  gap: 2px;
}

.product-detail .box-detail .rating-favorite .fa-star {
  color: rgb(235, 219, 0);
}

.product-detail .box-detail .rating-favorite .fa-heart {
  color: red;
}

.product-detail .img-transfer .main-img {
  width: 100%;
  height: auto;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  text-align: center;
}

.product-detail .img-transfer .main-img img {
  width: 50%;
  height: 100%;
}

.product-detail .img-transfer .thumnailList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 5px;
}

.product-detail .img-transfer .thumnailList img {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
}

.product-detail .box-detail .info-detail {
  width: 35%;
  /* border: 1px solid pink; */
}

.product-detail .box-detail .info-detail h3 {
  font-size: 40px;
  font-weight: 800;
  width: 100%;
  height: 60px;
}

.product-detail .box-detail .info-detail .price {
  color: red;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-detail .box-detail .info-detail .brand {
  font-size: 12px;
}

.product-detail .info-detail .brand span {
  color: red;
}

.product-detail .box-detail .info-detail .desc {
  font-size: 12px;
}

.product-detail .box-detail .info-detail button {
  width: 40%;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.product-detail .box-detail .info-detail button:hover {
  background-color: #d3d3d3;
}

.product-detail .specifications {
  /* border: 1px solid red; */
  margin: 30px 0px;
}

.product-detail .specifications h4 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 5px;
  display: inline-block;
}

.product-detail .specifications p {
  font-size: 14px;
  line-height: 20px;
  /* border-bottom: 1px solid black; */
}

.product-detail .specifications p span {
  color: #444444;
}

/* ====================================== FOOTER =============================== */
.body-footer {
  position: relative;
  margin-top: 10px;
}

.body-footer .address-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
}

.body-footer .address-shop .address {
  width: 700px;
  /* height: 190px; */
}

.body-footer .address-shop .address img {
  width: 100%;
  height: 100%;
}

.body-footer .info-shop {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.body-footer .info-shop .head {
  display: flex;
  gap: 10px;
}

.body-footer .info-shop .connect p {
  margin-top: 10px;
}

.body-footer .policy-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  background: rgba(229, 229, 229, 1);
}

.body-footer .policy-shop div {
  line-height: 30px;
}

.body-footer .source {
  background: rgba(229, 229, 229, 1);
  margin-bottom: 10px;
  padding-left: 20px;
}

.body-footer .source span {
  color: red;
}

.body-footer .return-head {
  background: rgba(217, 217, 217, 1);
  color: rgba(255, 255, 255, 1);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 208.5px;
  z-index: 10;
  opacity: 50%;
}

.body-footer .return-head:hover {
  opacity: 1;
}
